.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #82756A;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}