.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8b7869;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #8b7969;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #FF9494;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--name input {
    width: auto;
    float: left;
    /* display: flex;
    justify-content: space-between; */
    padding: 10px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    appearance: none;
    background-color: #f4f4f4;
    color: #beb1a6;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 618px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    appearance: none;
    background-color: #f4f4f4;
    color: #beb1a6;
}

.form__input--text input {
    height: 38px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px,40px,10px,40px;
    width: 160px;
    height: 46px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}